.body{
    background-color: hsl(0, 0%, 17%);
}

.header{
    background-color: hsl(241, 70%, 42%);
    color: hsl(220, 13%, 87%);
}

.afinity{
    background-color: hsl(220, 13%, 87%);
    color: hsl(0, 18%, 10%);
}

.raceType{
    margin-top: 1em;
}

.progress{
    height: 2em;
}

.newvalues{
    margin: 1em;
    background-color: hsl(0, 0%, 17%);
    color: hsl(220, 13%, 87%);
}

.button{
    margin: 1em;
}

.ilustrations{
    margin-top: 2em;
}

/* Responsive */

@media only screen and (max-width: 576px) {
    .body{
        background-color: hsl(241, 70%, 42%);
    }

    .header{
        background-color: hsl(0, 0%, 17%);
        color: hsl(220, 13%, 87%);
    }

    afinity{
        background-color: hsl(273, 71%, 38%);
        color: hsl(220, 13%, 87%);
    }

    .newvalues{
        background-color: hsl(130, 72%, 25%);
        color: hsl(220, 13%, 87%);
    }
}